.transaction-history {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transaction-history th,
.transaction-history td {
  padding: 10px;
  text-align: center; /* Вирівнює текст по центру */
  border: 1px solid #ddd; /* Легка окантовка */
}

.transaction-history th {
  background-color: #f2f2f2; /* Світлий фон для заголовків */
}

.transaction-history tr:nth-child(even) {
  background-color: #f9f9f9; /* Чергування кольору для парних рядків */
}
